<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/password.css' %}">

</head>
<body>
    <section>
        <div class="passwordCard">
            <div class="passwordImgContainer" >
                <div class="passwordImg">
                    <img src="{% static 'images/6844146-removebg-preview.png' %}" alt="">
                </div>
            </div>
            <div class="passwordText">
                <h4>Forgot password?</h4>
                <p>Please enter your registered email address, <br> a reset password link will be sent to you.</p>
            </div>
            <div class="passwordInput">
                <input type="text" placeholder="  email">
                <button>SUBMIT</button>
            </div>
        </div>
    </section>
</body>
</html>