<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="loginSignupContainer"></div>
    <div class="signup-login-container">
        <!-- <h1 id="libraryTitle">Library management System</h1> -->
        <!-- <h1 id="bookSectionTitle" class="book-section-title">Book Log</h1> -->

        <div class="usersection " id="user-section">
                <div class="user-registration" id="userReg">
                    <!-- <h4>Registration form</h4>
                    <input type="text" id="reg-email" placeholder="Email" required>
                    <input type="text" id="reg-username" placeholder="Username" required>
                    <input type="text" id="regFirstName" placeholder="First Name">
                    <input type="text" id="regLastName" placeholder="Last Name">
                    <input type="password" id="regPassword" placeholder="Password">

                    <div id="author">
                        <input type="checkbox">
                        <label for="author" >I am an author</label>
                    </div> -->
                    <form action="">
                        {{form}}
                    </form>
                    <button onclick="library.registerUser()">Register</button>
                    <p>Already have an account?<span><a id="loginLink" href="{%  url 'users:login' %}">Login</a></span></p> 
                    <p id="message" class=""></p>
                 
                </div>
   
          


        </div>




    </div>
    <script src="library.js"></script>
</body>

</html>