*{
    margin: 0;
    padding: 0;
}
section{
    background: url(/images/actionadventure\ white\ bg.png);
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    z-index: 1;
   text-align: center;
   color: #fff;
}
.passwordCard{
    background-color: #6a6b6e;
    width: 40%;
    padding: 2rem 0;
    border-radius: 0.6rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    box-shadow: 0.3rem 0.3rem 0.8rem 0.1rem rgb(0 0 0 / .8);
}

.passwordImg img{
    width: 250px;
    height: 200px;
}
.passwordText h4{
    margin: 0.5rem;
    margin-bottom: 1rem;

}
.passwordText p{
    font-size: 12px;
}
.passwordInput{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 0.5rem;
    width: 60%;
}
.passwordInput input{
    width: 93%;
    padding: 0.5rem;

}
.passwordInput input::placeholder{
    text-align: center;
}
.passwordInput button{
    width: 100%;
    padding: 0.5rem;
    background-color:  #573111;
    border: none;
    color: #fff;
}